.blog-post{
  max-width:820px;
  margin:0 auto;
  direction:rtl;
  text-align:right;
  line-height:2;
  color:#444;
  font-size:1.05rem;
}

.blog-post h1{
  font-size:2.3rem;
  margin-bottom:2rem;
}

.blog-post h2{
  margin-top:4rem;
  margin-bottom:1.5rem;
  font-size:1.7rem;
}

.blog-post p{
  margin-bottom:1.4rem;
}

.blog-post hr{
  border:none;
  border-top:1px solid #e5e5e5;
  margin:3rem 0;
}

.soft-box{
  background:#f8f8f6;
  padding:24px;
  border-radius:14px;
  margin:2rem 0;
}

.info-box{
  background:#eef4f7;
  border-right:4px solid #82c4e3;
  padding:20px 24px;
  border-radius:12px;
  margin:2rem 0;
}

.blog-image-wrap{
  text-align: center;
  margin-bottom: 36px;
}

.blog-image-wrap img{
      width: 100%;
  max-width: 720px;
  border-radius: 18px;
  margin: 0 auto;
  display: block;
  
  /* width: 70%;             
  border-radius: 16px;
  object-fit: cover;
  display: inline-block; */
}
/* @media (max-width: 768px){
  .blog-image-wrap img{
    width: 95%;
  }
} */